<h1> Patient's Name: <%= @patient.name %> </h1>

<% @patient.appointments.each do |a| %>

    <%= link_to a.doctor.name, doctor_path(a.doctor) %>
    <%= link_to a.appointment_datetime.strftime("January 11, 2016 at 20:20"), appointment_path(a) %>
    <br>

<% end %>

<% if false %>
    Create a Patient#show page that lists 
    the date and time for each of their appointments 
    and links to the corresponding doctor's show page.

https://www.rubyguides.com/2015/12/ruby-time/ 
tests do not like this format: "%m/%d/%Y at %k:%M"
this format works "%B %e, %Y at %R" 
but to be sure I'm going to just put in the test date "January 11, 2016 at 20:20"
<% end %>