<h3><%=@patient.name%></h3>
<h6><%=@patient.age%></h6>
<ul>
<%@patient.appointments.each do |appointment|%>
<li><%=appointment.appointment_datetime.strftime("%B %d, %Y at %T")%></li><br>
<li><%= link_to appointment.doctor.name ,doctor_path(appointment.doctor)%></li>
<%end%>
</ul>








