<h1>Doctor:></h1>

<% @doctor.appointments.each do |appt|%>
    <%= link_to appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> 
    <%= link_to appt.patient.name, appt.patient %>
<% end %> 

